.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Sayfa ortasına hizalama */
  padding: 20px;
}

.movie-details {
  max-width: 500px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.movie-details img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.movie-details p {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .movie-details {
    padding: 15px;
    max-width: 100%;
  }

  .movie-details p {
    font-size: 1rem;
  }
}
