* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}
.app {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.app-title {
  font-size: 2rem;
  color: #1e3a8a;
  margin-bottom: 20px;
}

.search-input,
.search-type-select,
.search-year-select {
  padding: 10px;
  font-size: 1rem;
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-input:focus,
.search-type-select:focus,
.search-year-select:focus {
  border-color: #1e3a8a;
}

.search-type-select,
.search-year-select {
  margin-left: 10px;
}

.year-select {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
